/* apply a natural box layout model to all elements */
*, *:before, *:after {
	-webkit-font-smoothing:antialiased;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	/*font-family: "Verdana";*/
}

#draft-header, #outline-header, #essay-header {
	position:fixed;
	z-index: 2;
}

#draft-header {
	/*background-color: black;*/
	/*color: white;*/
	background-color: #E0E0E0;
	height:100px;
	width:100%;
	/*padding: 0px;*/
	text-align: center;
	margin: auto;
	position:fixed;
	top:0px;
}

#draft-header h1 {
	position: relative;
	left:-50px;
	display: inline;
	vertical-align: middle;
	/*margin-left: 10px;*/
	/*float: left;*/
}

.frame {
	height: 100px;
	width: 100px;
	/*border: 1px solid red;*/
	white-space: nowrap;

	text-align: center;
	margin-top: 1em 0;
	display: inline;
}

.image-helper {
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#draft-header img {
	position: relative;
	left:-50px;
	vertical-align: middle;
	/*display: inline;*/
	width: 80px;
	height: 80px;
	max-width: 100%;
}

/* splitter */
#MySplitter {
	height: 80%;
	width: 100%;
	border: 0px solid #aaa;
	position:absolute;
	margin-top:100px;
	z-index:0;
}

#MySplitter div {
	overflow: auto;
}

.vsplitbar {
	border: 2px dashed #aaa;
}

/*hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}*/

/*h1 {
	font-style: 10em;
}*/

#outline-header, #essay-header {
	background-color: white;
	width: 100%;
}

.editor
{
	padding-left: 10px;
	padding-right: 10px;
}

#outline-editor {
	/*position: relative;*/
	float: left;
	margin-right: 100px;
	width: 50%;
	min-height: 100%;
	/*background-color: #F5F5F5;*/
}

#editor {
	/*position: fixed;*/
	/*float: right;*/
	width: 100%;
	min-height: 80%;
	margin-top: 100px;
	/*left:300px;*/

	background-color: #F5F5F0;
	-webkit-box-shadow: 0px 3px 15px 2px #F5F5F0;
	-moz-box-shadow: 0px 3px 15px 2px #F5F5F0;
	box-shadow: 0px 3px 15px 2px #F5F5F0;
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
	padding: 10px;
}

#tree {
	position: fixed;
	margin-top: 100px;
	white-space: normal;
}

/*Medium:focus{
	outline: 0;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.42);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.42);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.42);
	position:fixed;
}*/

#analyze-button, #clear-button {
	float:left;
}

#fillin-button {
	position: fixed;
	right:0;
	top:0;
}


