/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }

/*.editor {
	display: inline;
}*/

/*textarea {
	display: inline;
	resize: none;
	height: 50%;
	border: 1px solid black;
}*/

#draft-outline, #draft-text {
	border: 1px solid black;
}

#outline-editor {
	float: left;
	margin-right: 10px;
	width: 30%;
	min-height: 80%;
	background-color: #F5F5F5;
}

#editor {
	float: left;
	width: 69%;
	min-height: 80%;
}

#analyze-button, #clear-button {
	float:right;
}

#fillin-button {
	float: left;
}
